version: "3.9"

services:
  monitor:
    build:
      context: .
      dockerfile: docker/Dockerfile.proxy
    container_name: t2-monitor-nodetunel
    privileged: true
    networks:
      - t2net-macvlan
    working_dir: /workspace
    tty: true
    stdin_open: true
    volumes:
      - ./src/monitor:/workspace/monitor
      - ./scripts:/workspace/scripts
      - ./logs:/workspace/logs

  client1:
    build:
      context: .
      dockerfile: docker/Dockerfile.client
    container_name: t2-client1-nodetunel
    privileged: true
    networks:
      - t2net-macvlan
    working_dir: /workspace
    tty: true
    stdin_open: true
    volumes:
      - ./scripts:/workspace/scripts

  client2:
    build:
      context: .
      dockerfile: docker/Dockerfile.client
    container_name: t2-client2-nodetunel
    privileged: true
    networks:
      - t2net-macvlan
    working_dir: /workspace
    tty: true
    stdin_open: true
    volumes:
      - ./scripts:/workspace/scripts

networks:
  t2net-macvlan:
    external: true
